* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    color: white;
    height: 100vh;
    background-image: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
    background-clip: padding-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    cursor: url('./Assets/heart-solid.svg'), auto;
}

::selection{
    background-color: #ffaa0d ;
    color: #F5F5F5;
}

.title{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 3vmin;
    user-select: none;
    transition: all .36s ease-out;
}

.title:hover {
    transform: scale(1.05);
    color: #333333;
}
.main {
    height: 50%;
}
.main_text {
    top: 50%;
    text-align: center;
}
.main_wrapper{
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vmin;
}
.main_text > h5 {
    font-size: 2.8vmin;
    width: 80%;
    height: 18vmin;
    margin-left: auto;
    margin-right: auto;
}
.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_container > h5 {
    position: absolute;
    color: #333333;
    font-size: 3vmin;
    text-transform: uppercase;
}
.button_container{
    width: 16vmin;
    height: 5vmin;
    background-color: white;
    border-radius: 100px;
    color: #333333;
    text-align: center;
    transition: all .3s ease-out;
}

.button_container:hover{
    scale: 1.04;
    background-color: #ffeaee;
}
.button_container:active{
    scale: .95;
    background-color: #ffaa0d;
}

#blob {
    position: absolute;
    background-color: white;
    height: 500px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    filter: blur(100px);
    opacity: .4;
    z-index: -1;
    
}

@media (max-width: 900px) {
    .title {
        font-size: 4vmin; /* Adjust font size for smaller screens */
    }
    
    .main_text > h5 {
        font-size: 3vmin; /* Adjust font size for smaller screens */
    }
    
    .button_container {
        width: 30vmin; /* Adjust button width for smaller screens */
        height: 10vmin; /* Adjust button height for smaller screens */
        font-size: 4vmin; /* Adjust font size for smaller screens */
    }
    #blob{
        display: none;
    }
    .main {
        padding-top: 15vmax;
    }
}
